body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: url('https://images.unsplash.com/photo-1602526432604-bf4c3caa5b1c?auto=format&fit=crop&w=1950&q=80')
    no-repeat center center/cover;
  height: 100vh;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(92, 54, 16);
  color: #fff;
  text-align: center;
}

.login-container h2 {
  font-size: 2rem;
  color: #f5deb3; /* couleur bois clair */
  margin-bottom: 20px;
}

.login-form {
  background-color: rgb(147, 96, 19);
  padding: 40px;
  border-radius: 15px;
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  width: 300px;
  display: flex;
  flex-direction: column;
}

.login-form input{
  margin-bottom: 15px;
  width: 93%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: rgba(202, 128, 43, 0.783);
  color: #764217;
  font-size: 1rem;
}

.login-form input:focus {
  outline: none;
  box-shadow: 0 0 5px #deb887;
}

.btn-login,
.btn-signup {
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 10px;
}

.btn-login {
  background-color: #8b5a2b;
  color: #c1792c;
}

.btn-login:hover {
  background-color: #a0522d;
}

.btn-signup {
  background-color: #deb887;
  color: #ab752a;
}

.btn-signup:hover {
  background-color: #f5deb3;
}

.error {
  color: #da7b2e;
  margin-top: 15px;
  font-weight: bold;
}